#headers {
    height: 48px;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 100px;
    /* overflow: hidden; */
}

#headers::after {
    display: block;
    content: '';
    clear: both;
}
.logo {
    /* height: 100%; */
    margin: 0 20px;
    /* width: 100px; */
    line-height: 48px;
    /* display: inline-block; */
    /* align-items: center; */
    float: left;
}