header {
    height: 48px;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 100px;
}

header::after {
    display: block;
    content: '';
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
    overflow:hidden;
}
.logo {
    margin: 0 20px;
    line-height: 48px;
    float: left;
}