.img_arrow {
    display: inline-block;
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: 100;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
}
.img_arrow:hover {
    background: rgba(0,0,0,.2);
}

.img_arrow_left {
    left: 0;
}
.img_arrow_right {
    right: 0;
}